*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #000;
    color:#fff;
}

.header{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://assets.nflxext.com/ffe/siteui/vlv3/20bf1f4d-1c73-48fd-8689-310d6dd80efc/81bdc063-cb8f-4afe-8a02-a3131ca4ef5e/IN-en-20240812-POP_SIGNUP_TWO_WEEKS-perspective_WEB_7998f3b6-63e3-424a-8328-550cf777ddce_large.jpg");
    background-size: cover;
    position:relative;
    background-position: center;
    padding:10px , 8%;
}

.logo{
    height:50px;
    width:150px;
    position: relative;
    left:200px;
    top:25px;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0;
}

#lang{
    position: relative;
    right:270px;
    top:25px;
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    font-size: 20px;
}

#lang i{
    width:10px;
    margin-left: 10px;
    font-size: 13px;
}

#button_two{
    position: relative;
    right:250px;
    top:25px;
    font-size: 20px;
}

nav button{
    border:0;
    outline: 0;
    background: #db0001;
    color:#fff;
    padding:7px 20px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.header_content{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* margin-top: 50px; */
}

.header_content h1{
    font-size: 52px;
}

.header_content h3{
    font-size: 30px;
}

.header_content p{
    font-size: 20px;
}

.separation{
    height:11px;
    background-color: #373434;
}

.email_type input{
    border-radius: 4px;
    font-size: 22px;
    background-color: rgba(23,23,23,0.2);
    text-align:start;
    padding:7px 101px 8px 14px;
    line-height: 1.5;
    border:1px solid rgba(246,238,238,0.7);
}

.email_type button{
    width:207px;
    height:52px;
    padding-top: 5px;
    border-radius: 4px;
    font-size: 20px;
    background: #db0001;
    color: #fff;
    border: 0;
    outline: 0;
    text-align: center;
    position: relative;
    top:1px;
    left:10px;
    bottom: 10px;
    cursor:pointer ;
}

.email_type{
    margin:16px 0px 0px;
}

.first_section{
    padding:50px 12%;
    font-size: 22px;
}

#row{
    display:flex;
    justify-content: center;
    align-items: center;
}

#text_col p{
    font-size: 27px;
}

#img_col{
    position: relative;
    top:100px;
}

#img_col img{
    position: relative; 
    z-index: 10;
}

#img_col video{
    position:relative;
    bottom:385px;
    left:73px;
}

.second_section{
    padding:50px 12%;
    font-size: 22px;
}

.third_section{
    padding:50px 12%;
    font-size: 22px;
}

#third_img{
    position: relative;
    top:120px;
}

#third_img img{
    position: relative; 
    z-index: 20;
}

#third_img video{
    position:relative;
    bottom:490px;
    left:110px;
    height:300px;
    width:400px;
}

#text_col_third{
    position: relative;
    bottom:90px;
}

.fourth_section{
    padding:50px 12%;
    font-size: 22px;
}

.questions{
    padding:10px 12%;
    text-align: center;
    font-size:20px;
    margin-top: 55px;
}

#feqbox{
    display: flex;
    background-color: rgb(110, 106, 106);
    height:72px;
}

#feqbox span{
    position:relative;
    top:22px;
    left:15px;
    font-size: 30px;
}

#feqbox  i{
    position: relative;
    top:22px;
    left:1040px;
    font-size: 30px;
}

#feqbox_two{
    display: flex;
    background-color: rgb(110, 106, 106);
    height:72px;
}

#feqbox_two span{
    position:relative;
    top:22px;
    left:15px;
    font-size: 30px;
}

#feqbox_two  i{
    position: relative;
    top:22px;
    left:880px;
    font-size: 30px;
}

#feqbox_three{
    display: flex;
    background-color: rgb(110, 106, 106);
    height:72px;
}

#feqbox_three span{
    position:relative;
    top:22px;
    left:15px;
    font-size: 30px;
}

#feqbox_three  i{
    position: relative;
    top:22px;
    left:998px;
    font-size: 30px;
}

#feqbox_four{
    display: flex;
    background-color: rgb(110, 106, 106);
    height:72px;
}

#feqbox_four span{
    position:relative;
    top:22px;
    left:15px;
    font-size: 30px;
}

#feqbox_four  i{
    position: relative;
    top:22px;
    left:1025px;
    font-size: 30px;
}

#feqbox_five{
    display: flex;
    background-color: rgb(110, 106, 106);
    height:72px;
}

#feqbox_five span{
    position:relative;
    top:22px;
    left:15px;
    font-size: 30px;
}

#feqbox_five  i{
    position: relative;
    top:22px;
    left:883px;
    font-size: 30px;
}

#feqbox_six{
    display: flex;
    background-color: rgb(110, 106, 106);
    height:72px;
}

#feqbox_six span{
    position:relative;
    top:22px;
    left:15px;
    font-size: 30px;
}

#feqbox_six  i{
    position: relative;
    top:22px;
    left:940px;
    font-size: 30px;
}

#lang_last{
    background: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
}

.footer{
    display:flex;
    justify-content: space-evenly;
    margin-top: 150px;
    padding:34px;
}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
.separation_final{
    height:11px;
    background-color: #373434;
    position: relative;
    top:65px;
}

li{
    list-style: none;
}

.personal_info ul li a{
    display: flex;
    flex-direction: column;
    gap:23px;
}

#call{
    font-size:20px ;
}

.personal_info p{
    font-size: 20px;
}
